/*=======================================================================
= Variable Declare
=========================================================================*/
// Fonts
$font_body: var(--body-font, 'sans-serif');
$font_heading: var(--heading-font, 'sans-serif');

// Colors
$color_body: var(--color-body);
$color_heading: var(--color-heading);
$color_primary: var(--color-primary);
$color_secondary: var(--color-primary);

$facebook: #1877F2;
$twitter: #1DA1F2;
$instagram: #E1306C;
$youtube: #ff0000;
$linkedin: #0077b5;
$pinterest: #e60023;
$whatsapp: #25D366;
$reddit: #5f99cf;
$tiktok: #ff0050;
$telegram: #229ED9;
