@mixin square($size, $radius: 0) {
	width: $size;
	height: $size;

	@if $radius  !=0 {
		border-radius: $radius;
	}
}

//Module CSS - 2
/*Module CSS - 2*/
.test {
	border-radius: 60%;
	text-align: left;
	@include square(15, 50%);
	.one {
		color: red;
		float: right;
		//Module-1 CSS
		.two {
			float: left;
			color: green;
			background: #f00;
		}
	}
}